@model fugaz_retro.Models.Producto

@{
    ViewData["Title"] = "Crear Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tbl">
    <h1>Crear Producto</h1>
    <hr />

    <form asp-controller="Productos" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NombreProducto" class="control-label"></label>
                    <input asp-for="NombreProducto" class="form-control" />
                    <span asp-validation-for="NombreProducto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecioVenta" class="control-label"></label>
                    <input asp-for="PrecioVenta" class="form-control" />
                    <span asp-validation-for="PrecioVenta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Foto" class="control-label">Foto Producto</label>
                    <input type="file" class="form-control" name="Foto" id="Foto" />
                </div>
                <div class="form-group">
                    <label asp-for="CategoriaProducto" class="control-label">Selecciona una categoría:</label>
                    <select asp-for="CategoriaProducto" class="form-control" id="categoriaProducto">
                        <option value="vestidos">Vestidos</option>
                        <option value="faldas">Faldas</option>
                        <option value="mom_pats">Mom Pats</option>
                        <option value="conjuntos">Conjuntos</option>
                        <option value="crop_tops">Crop Tops</option>
                        <option value="shorts">Shorts</option>
                        <option value="blusas">Blusas</option>
                    </select>
                    <span asp-validation-for="CategoriaProducto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Estado" class="control-label">Estado</label>
                    <select asp-for="Estado" class="form-control">
                        <option value="">Seleccionar Estado</option>
                        <option value="Disponible">Disponible</option>
                        <option value="No Disponible">No Disponible</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="imgproduct" id="FotoPreview" src="#" alt="Comprobante de Pago" />
            </div>
        </div>
        <h4>Detalles del Producto</h4>
        <table class="table table-striped table-bordered" id="detalleProductosTable">
            <thead>
                <tr>
                    <th>Talla</th>
                    <th>Color</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select id="tallaProducto" class="form-control">
                        </select>
                    </td>
                    <td><input type="text" class="form-control" id="colorProducto" /></td>
                    <td><button type="button" class="btn btn-primary" onclick="addDetalleProducto()">Añadir Detalle</button></td>
                </tr>
            </tbody>
        </table>
        <div id="detalleProductosHidden">
            <input type="hidden" id="detalleProductosHiddenInput" name="detalleProductosHiddenInput" />
        </div>
        <div class="form-group-botones">
            <button type="submit" class="btn btn-success">Crear</button>
            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const tallasNumericas = ["6", "8", "10", "12", "14", "16"];
        const tallasTexto = ["XS", "S", "M", "L", "XL", "XXL"];
        const categoriasTallasNumericas = ["faldas", "mom_pats", "shorts", "conjuntos"];

        function actualizarOpcionesTalla() {
            const categoria = $("#categoriaProducto").val();
            const $tallaProducto = $("#tallaProducto");

            $tallaProducto.empty();

            if (categoriasTallasNumericas.includes(categoria)) {
                tallasNumericas.forEach(talla => {
                    $tallaProducto.append(new Option(talla, talla));
                });
            } else {
                tallasTexto.forEach(talla => {
                    $tallaProducto.append(new Option(talla, talla));
                });
            }
        }

        $(document).ready(function () {
            actualizarOpcionesTalla();
            $("#categoriaProducto").change(actualizarOpcionesTalla);
        });

        function addDetalleProducto() {
            var color = $("#colorProducto").val();
            var talla = $("#tallaProducto").val();

            if (color.trim() === '' && talla.trim() === '') {
                alert("Por favor ingrese color o talla");
                return;
            }

            var detalleProductos = JSON.parse($("#detalleProductosHiddenInput").val() || "[]");

            if (detalleProductos.some(detalle => detalle.Talla === talla)) {
                alert("La talla ya ha sido agregada");
                return;
            }

            var detalle = {
                Talla: talla || '',
                Color: color || ''
            };

            detalleProductos.push(detalle);

            $("#detalleProductosHiddenInput").val(JSON.stringify(detalleProductos));

            var newRow = $("<tr>");
            newRow.append("<td>" + (talla || '') + "</td>");
            newRow.append("<td>" + (color || '') + "</td>");
            newRow.append("<td><button type='button' class='btn btn-danger' onclick='removeDetalleProducto(this)'>Eliminar</button></td>");

            $("#detalleProductosTable tbody").append(newRow);

            $("#colorProducto").val('');
            $("#tallaProducto").val('');
        }

        function removeDetalleProducto(btn) {
            var index = $(btn).closest("tr").index() - 1; // Ajuste del índice debido al encabezado de la tabla
            var detalleProductos = JSON.parse($("#detalleProductosHiddenInput").val() || "[]");
            detalleProductos.splice(index, 1); // Eliminar el elemento del array
            $("#detalleProductosHiddenInput").val(JSON.stringify(detalleProductos));
            $(btn).closest("tr").remove(); // Eliminar la fila de la tabla
        }

        $('input[type="file"]').change(function (e) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#FotoPreview').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(this.files[0]);
        });
    </script>
}