@using fugaz_retro.Models
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;
    var permisos = session.GetString("Permisos")?.Split(',') ?? Array.Empty<string>();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fugaz Retro</title>
    <link rel="icon" type="image/png" href="~/images/Fugaz Retro (1).png">
    <link href="/website/css/uicons-solid-rounded.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/fugaz_retro.styles.css" asp-append-version="true" />

    @*     <link rel="stylesheet" href="~/css/mispedidos.css" asp-append-version="true" />*@
    <link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-CcOeLuI4AZ3L8x5ZjsZNWjyUkSeJf2ERXFO8IcgR5vWhSQRfxfvyKXn2z6r7U+eO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.1.1/css/buttons.dataTables.css" />

    <style>
        .dropdown-menu {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-out;
        }
            .dropdown-menu.show {
                max-height: 500px; /* Ajusta la altura máxima según el contenido */
            }
    </style>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top" style="height:8%;">
            <div class="container-fluid">
                <span class="fr">¡FUGAZ RETRO! <img class="frimg" src="~/images/fgz.png" height="60px" /></span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    @if (User.Identity.IsAuthenticated && session.GetInt32("IdRol") != 7)
    {
        <div class="dashboard-menu">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Principal" asp-action="Index"><img src="/Images/dashboard/grafico-de-linea.gif" alt="Dashboard" style="padding:5px;margin-top:-5px;" height="45px" /> Dashboard</a>
                </li>

                @if (permisos.Contains("Modulo Configuracion"))
                {
                    <div class="dropdown-center">
                        <a class="nav-link text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/Images/dashboard/usuario (2).gif" alt="Configuración" style="padding:5px;margin-top:-5px;" height="45px" /> Configuración
                        </a>
                        <ul class="dropdown-menu" style="width:259px;">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index"><img src="/Images/dashboard/usuario (1).gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" />  Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Permisos" asp-action="Index"><img src="/Images/dashboard/identidad.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" />  Permisos</a>
                            </li>
                        </ul>
                    </div>
                }

                @if (permisos.Contains("Modulo Usuarios"))
                {
                    <div class="dropdown-center">
                        <a class="nav-link text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/Images/dashboard/usuario.gif" alt="Usuarios" style="padding:5px;margin-top:-5px;" height="45px" /> Usuarios
                        </a>
                        <ul class="dropdown-menu" style="width:259px;">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index"><img src="/Images/dashboard/usuario.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" /> Usuarios</a>
                            </li>
                        </ul>
                    </div>
                }

                @if (permisos.Contains("Modulo Compras"))
                {
                    <div class="dropdown-center">
                        <a class="nav-link text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="/Images/dashboard/compras.gif" alt="Compras" style="padding:5px;margin-top:-5px;" height="45px" /> Compras</a>
                        <ul class="dropdown-menu" style="width:259px;">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CategoriaInsumos" asp-action="Index"><img src="/Images/dashboard/lista.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" />  Categoría insumos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Insumos" asp-action="Index"><img src="/Images/dashboard/portapapeles.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" />  Insumos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="PerdidaInsumos" asp-action="Index"><img src="/Images/dashboard/devaluacion.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" />  Perdida de insumos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Proveedors" asp-action="Index"><img src="/Images/dashboard/mensajero.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" /> Proveedores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Compras" asp-action="Index"><img src="/Images/dashboard/carro-de-la-compra.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" />  Compras</a>
                            </li>
                        </ul>
                    </div>
                }

                @if (permisos.Contains("Modulo Ventas"))
                {
                    <div class="dropdown-center">
                        <a class="nav-link text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="/Images/dashboard/bolsa-de-dinero.gif" alt="Ventas" style="padding:5px;margin-top:-5px;" height="45px" /> Ventas</a>
                        <ul class="dropdown-menu" style="width:259px;">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CostoEnvio" asp-action="Index"><img src="/Images/dashboard/PrecioEnvio.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" /> Precio Envio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pedidos" asp-action="Index"><img src="/Images/dashboard/pedido-en-linea.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" />  Pedidos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DetallePedidos" asp-action="Index"><img src="/Images/dashboard/Detallepedido.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" />  Detalle de Pedido</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index"><img src="/Images/dashboard/ropa-de-mujer.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" /> Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DetalleProductos" asp-action="Index"><img src="/Images/dashboard/detalleProducto.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" /> Detalle Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DetalleInsumos" asp-action="Index"><img src="/Images/dashboard/FichaTecnica.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" /> Ficha Tecnica</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Ventas" asp-action="Index"><img src="/Images/dashboard/ventas.gif" alt="Alternate Text" style="padding:5px;margin-top:-5px;" height="45px" />  Ventas</a>
                            </li>
                        </ul>
                    </div>
                }

                <hr />

                <footer class="footer" style="background: #ffffff;">
                    <div class="container">
                        &copy; 2024 - Fugaz Retro
                    </div>
                </footer>
            </ul>
        </div>
    }
    <div class="dashboard-content">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.1/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.1/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.1/js/buttons.html5.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.dropdown-toggle').on('click', function () {
                    var dropdownMenu = $(this).next('.dropdown-menu');
                    if (dropdownMenu.hasClass('show')) {
                        dropdownMenu.removeClass('show');
                    } else {
                        $('.dropdown-menu').removeClass('show');
                        dropdownMenu.addClass('show');
                    }
                });

                $(document).click(function (e) {
                    if (!$(e.target).closest('.dropdown-toggle, .dropdown-menu').length) {
                        $('.dropdown-menu').removeClass('show');
                    }
                });
            });
        </script>
    }
</body>
</html>