﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@inject fugaz_retro.Models.FugazContext dbContext


@{
    var session = HttpContextAccessor.HttpContext.Session;
    string userName = null;

    if (SignInManager.IsSignedIn(User))
    {
        var userId = UserManager.GetUserId(User);
        var identityUser = await UserManager.FindByIdAsync(userId);
        var userEmail = identityUser?.Email;
        if (userEmail != null)
        {
            var user = await dbContext.Usuarios.FirstOrDefaultAsync(u => u.Correo == userEmail);
            userName = user?.NombreUsuario;
        }
    }
}

<style>
    .dropdown {
        margin-right: 60px;
        margin-top: 5px;
        width: 200px;
    }

    .bsal {
        margin-left: 60px;
        margin-top: 0px;
        width: 100px;
    }
</style>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <button class="btn btn-sm btn-link nav-link dropdown-toggle" style="margin-left: 5px;" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                @(userName ?? UserManager.GetUserName(User))
            </button>
            <ul class="dropdown-menu dropdown-menu-end" style="margin-top:10px;" aria-labelledby="userDropdown">
                @if (User.Identity.IsAuthenticated && session.GetInt32("IdRol") == 7)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Mispedidos">Pedidos</a>
                    </li>
                }
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Miperfil">Mi Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                        <button type="submit" class="dropdown-item">
                            <i class="fas fa-sign-out-alt"></i> Salir
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <div class="dropdown">
            <a class="nav-link text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-plus"></i> Iniciar sesión
            </a>
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">
                        <i class="fas fa-user-plus"></i> ¡Regístrate!
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
                        <i class="fas fa-user"></i> Inicio de sesión
                    </a>
                </li>
            </ul>
        </div>
    }
</ul>