@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar Nueva cuenta";
}

<style>
    /* Estilos personalizados */
    body {
        overflow: hidden;
        font-family: Arial, sans-serif;
        background: linear-gradient(to bottom, #ffffff,#eabcac);
        margin: 0;
        padding: 0;
    }

    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;
    }

    #register-container {
        display: flex;
        justify-content: space-between; /* Espacio entre la imagen y el formulario */
        align-items: center;
        width: 80%;
        margin-top: -90px;
        margin-right: 200px; /* Aumenta este valor para más espacio a la derecha del formulario */
        background-color: #f9f9f9;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    }

        #register-container h4 {
            color: #333;
            margin-bottom: 15px;
            text-align: center;
        }

        #register-container .form-group {
            margin-bottom: 8px; /* Reduce el espacio entre los campos */
        }

        #register-container label {
            color: #333;
            display: block;
            margin-bottom: 3px; /* Reduce el espacio debajo de los labels */
            font-size: 12px; /* Reduce el tamaño de la fuente de los labels */
        }

        #register-container input[type="text"],
        #register-container input[type="password"],
        #register-container input[type="email"] {
            width: 100%;
            padding: 8px; /* Reduce el padding de los campos */
            font-size: 12px; /* Ajusta el tamaño de la fuente aquí */
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #register-container .form-group.inline-group {
            display: flex;
            justify-content: space-between;
        }

            #register-container .form-group.inline-group > div {
                flex: 1;
                margin-right: 10px; /* Espacio entre las columnas */
            }

                #register-container .form-group.inline-group > div:last-child {
                    margin-right: 0;
                }

        #register-container button {
            width: 100%;
            padding: 10px;
            font-size: 18px;
            background-color: #007bff;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            #register-container button:hover {
                background-color: #0056b3;
            }

        #register-container a {
            color: blue;
            text-decoration: none;
        }

            #register-container a:hover {
                text-decoration: underline;
            }

    .image-container {
        flex: 1; /* El contenedor de la imagen ocupa todo el espacio disponible */
        margin-left: 60px; /* Aumenta este valor para mover más la imagen hacia la derecha */
    }

        .image-container img {
            max-width: 95%;
            height: auto;
            border-radius: 5px;
        }

    .btn-custom {
        background-color: #442024; /* Cambia el color de fondo del botón */
        color: #ffffff; /* Cambia el color del texto del botón */
        border: none; /* Elimina el borde del botón si lo deseas */
        border-radius: 5px; /* Aplica bordes redondeados al botón */
        padding: 10px 20px; /* Ajusta el espaciado interno del botón */
        font-size: 18px; /* Tamaño de la fuente del texto del botón */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    }

        /* Estilos adicionales para el botón al pasar el cursor sobre él */
        .btn-custom:hover {
            background-color: #874e4c; /* Cambia el color de fondo al pasar el cursor sobre el botón */
        }

    .password-container {
        position: relative;
        width: 100%;
    }

        .password-container input {
            width: calc(100% - 30px); /* Ajusta el ancho del campo de entrada */
            padding-right: 30px; /* Espacio para el ícono */
        }

    .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

</style>

<div class="center-content">
    <div id="register-container">
        <form id="register-form" asp-route-returnUrl="@Model.ReturnUrl" method="post" style="flex: 1;">
            <h4>Registrar Nueva cuenta</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-group">
                <label asp-for="Input.UserName">Nombre de usuario</label>
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Nombre de usuario" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Email">Correo</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Document">Documento</label>
                <input asp-for="Input.Document" class="form-control" autocomplete="document" aria-required="true" placeholder="Documento" />
                <span asp-validation-for="Input.Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Telefono">Telefono</label>
                <input asp-for="Input.Telefono" class="form-control" autocomplete="Telefono" aria-required="true" placeholder="Telefono" />
                <span asp-validation-for="Input.Telefono" class="text-danger"></span>
            </div>

            <div class="form-group inline-group">
                <div>
                    <label asp-for="Input.Password">Contraseña</label>
                    <div class="password-container">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Contraseña" />
                        <span class="toggle-password">
                            <i class="fa fa-eye"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                    <div class="password-container">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmar Contraseña" />
                        <span class="toggle-password">
                            <i class="fa fa-eye"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>


            <button id="registerSubmit" type="submit" class="btn btn-custom">Registrar</button>
            
            <div class="form-group">
                <br />
                <h6>¿Ya tienes una cuenta? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Inicia sesión</a></h6>
            </div>
        </form>

        <div class="image-container">
            <img src="/Images/vestido.jpg" alt="Imagen de fondo">
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        document.querySelectorAll('.toggle-password').forEach(item => {
            item.addEventListener('click', function () {
                let input = this.previousElementSibling;
                if (input.type === "password") {
                    input.type = "text";
                    this.innerHTML = '<i class="fa fa-eye-slash"></i>';
                } else {
                    input.type = "password";
                    this.innerHTML = '<i class="fa fa-eye"></i>';
                }
            });
        });
    </script>
}