@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar Nueva cuenta";
}

<style>
    body {
        overflow: hidden;
        font-family: Arial, sans-serif;
        background: linear-gradient(to bottom, #ffffff,#eabcac);
        margin: 0;
        padding: 0;
    }

    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #register-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-top: -90px;
        margin-right: 200px;
        background-color: #f9f9f9;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    }

        #register-container h4 {
            color: #333;
            margin-bottom: 15px;
            text-align: center;
        }

        #register-container .form-group {
            margin-bottom: 8px; 
        }

        #register-container label {
            color: #333;
            display: block;
            margin-bottom: 3px; 
            font-size: 12px; 
        }

        #register-container input[type="text"],
        #register-container input[type="password"],
        #register-container input[type="email"] {
            width: 100%;
            padding: 8px;
            font-size: 12px; 
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #register-container .form-group.inline-group {
            display: flex;
            justify-content: space-between;
        }

            #register-container .form-group.inline-group > div {
                flex: 1;
                margin-right: 10px;
            }

                #register-container .form-group.inline-group > div:last-child {
                    margin-right: 0;
                }

        #register-container button {
            width: 100%;
            padding: 10px;
            font-size: 18px;
            background-color: #007bff;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            #register-container button:hover {
                background-color: #0056b3;
            }

        #register-container a {
            color: blue;
            text-decoration: none;
        }

            #register-container a:hover {
                text-decoration: underline;
            }

    .image-container {
        flex: 1;
        margin-left: 60px;
    }

        .image-container img {
            max-width: 95%;
            height: auto;
            border-radius: 5px;
        }

    .btn-custom {
        background-color: #442024; 
        color: #ffffff;
        border: none; 
        border-radius: 5px; 
        padding: 10px 20px; 
        font-size: 18px;
        cursor: pointer;
    }

        .btn-custom:hover {
            background-color: #874e4c;
        }

    .password-container {
        position: relative;
        width: 100%;
    }

        .password-container input {
            width: calc(100% - 30px);
            padding-right: 30px;
        }

    .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

</style>

<div class="center-content">
    <div id="register-container">
        <form id="register-form" asp-route-returnUrl="@Model.ReturnUrl" method="post" style="flex: 1;">
            <h4>Registrar Nueva cuenta</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-group">
                <label asp-for="Input.UserName">Nombre de usuario</label>
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Nombre de usuario" maxlength="40" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Email">Correo</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" maxlength="40"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Document">Documento</label>
                <input asp-for="Input.Document" class="form-control" autocomplete="document" aria-required="true" placeholder="Documento" maxlength="10"
                       type="text"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '')"/>
                <span asp-validation-for="Input.Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Telefono">Telefono</label>
                <input asp-for="Input.Telefono" class="form-control" autocomplete="Telefono" aria-required="true" placeholder="Telefono" maxlength="10"/>
                <span asp-validation-for="Input.Telefono" class="text-danger"></span>
            </div>

            <div class="form-group inline-group">
                <div>
                    <label asp-for="Input.Password">Contraseña</label>
                    <div class="password-container">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Contraseña" maxlength="15" />
                        <span class="toggle-password">
                            <i class="fa fa-eye"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                    <div class="password-container">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmar Contraseña" maxlength="15" />
                        <span class="toggle-password">
                            <i class="fa fa-eye"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>


            <button id="registerSubmit" type="submit" class="btn btn-custom">Registrar</button>

            <div class="form-group">
                <br />
                <h6>¿Ya tienes una cuenta? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Inicia sesión</a></h6>
            </div>
        </form>

        <div class="image-container">
            <img src="/Images/vestido.jpg" alt="Imagen de fondo">
        </div>
    </div>
</div>
<style>
    .input-group {
        display: flex;
        gap: 5px; /* Espacio entre los inputs */
    }

        .input-group input {
            width: 3ch; /* Ajusta el ancho del input según sea necesario */
            text-align: center; /* Centra el texto dentro del input */
        }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra el contenido horizontalmente */
    }

        .form-container img {
            margin: 0 auto; /* Centra la imagen */
        }

    .submit-btn-container {
        text-align: center;
    }

    .imp{
        position:relative;
        margin-top:-160px;
        margin-left:240px;
    }
</style>
<!-- Modal para la verificación matemática -->
<div class="modal fade" id="mathVerificationModal" tabindex="-1" role="dialog" aria-labelledby="mathVerificationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mathVerificationModalLabel">Verificación</h5>
            </div
            <div class="row">
            <div class="col-md-6">
                <div class="modal-body">
                    <p>Resuelve la siguiente operación para continuar:</p>
                    <p id="mathOperation"></p>
                    <input type="number" id="mathResult" class="form-control" placeholder="Ingrese el resultado">
                    <span id="mathError" class="text-danger" style="display:none;">Resultado incorrecto. Inténtalo de nuevo.</span>
                </div>
             </div>
            <div class="col-md-6 form-container imp">
                 <img src="/Images/Images/codificacion.gif" alt="Configuración" style="padding:5px; margin-top: -5px;" height="200px" />
            </div>
            <div class="modal-footer submit-btn-container">
                    <button type="button" id="verifyMath" class="btn btn-primary">Verificar</button>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        let correctAnswer;

        // Evento para mostrar el modal de verificación matemática
        document.getElementById('registerSubmit').addEventListener('click', function (event) {
            event.preventDefault();
            // Generar operación matemática y mostrar la modal
            generateMathOperation();
            $('#mathVerificationModal').modal('show');
        });

        // Genera una operación matemática aleatoria
        function generateMathOperation() {
            const num1 = Math.floor(Math.random() * 10) + 1;
            const num2 = Math.floor(Math.random() * 10) + 1;
            const operations = ['+', '-'];
            const operation = operations[Math.floor(Math.random() * operations.length)];

            // Asegurar que no haya resultados negativos
            if (operation === '-' && num1 < num2) {
                correctAnswer = num2 - num1;
                document.getElementById('mathOperation').textContent = `${num2} - ${num1}`;
            } else {
                correctAnswer = operation === '+' ? num1 + num2 : num1 - num2;
                document.getElementById('mathOperation').textContent = `${num1} ${operation} ${num2}`;
            }
        }

        // Verifica si el resultado ingresado es correcto
        document.getElementById('verifyMath').addEventListener('click', function () {
            const userAnswer = parseInt(document.getElementById('mathResult').value, 10);
            if (userAnswer === correctAnswer) {
                $('#mathVerificationModal').modal('hide');
                document.getElementById('register-form').submit();
            } else {
                document.getElementById('mathError').style.display = 'block';
            }
        });

        document.querySelectorAll('.toggle-password').forEach(function (toggle) {
            toggle.addEventListener('click', function () {
                var passwordInput = this.previousElementSibling;
                var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);
                this.querySelector('i').classList.toggle('fa-eye');
                this.querySelector('i').classList.toggle('fa-eye-slash');
            });
        });

    </script>
}