@model fugaz_retro.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Recuperar contraseña";
}
<style>
    .input-group {
        display: flex;
        gap: 5px; /* Espacio entre los inputs */
    }

        .input-group input {
            width: 3ch; /* Ajusta el ancho del input según sea necesario */
            text-align: center; /* Centra el texto dentro del input */
        }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra el contenido horizontalmente */
    }

        .form-container img {
            margin: 0 auto; /* Centra la imagen */
        }

    .submit-btn-container {
        text-align: center;
    }
</style>
<div class="tbl" style="margin-right: 320px;">
    <h2>Recuperar contraseña</h2>

    <form asp-action="ForgotPassword" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Email" class="form-label">Ingrese el correo al cual se le enviará el código de recuperación</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div class="submit-btn-container">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
            <div class="col-md-6 form-container">
                <img src="/Images/Images/vistaUsuario/correorecuperacion.gif" alt="Configuración" style="padding:5px; margin-top: -5px;" height="200px" />
            </div>
        </div>
      
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
