@model fugaz_retro.Models.RolPermiso

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Estilo para la lista */
    .custom-list {
        padding: 0px;
        max-height: 153px; /* Ajusta la altura máxima como prefieras */
    }

        .custom-list li {
            /* Estilos opcionales para los elementos de la lista */
            list-style-type: none; /* Elimina los puntos de la lista */
            padding: 5px 0px; /* Ajusta el relleno según tus preferencias */
            border-bottom: 1px solid #ccc; /* Agrega una línea divisoria entre elementos */
        }

            .custom-list li:last-child {
                border-bottom: none;
            }
    .tlb{
        overflow-y: auto; /* Agrega un scrollbar vertical cuando sea necesario */
        background-color: #ffffff;
        border-radius: 5px;
        width:730px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    }
</style>
<div class="tbl">
<h1>Detalles</h1>

<div>
    <h4>Rol y Permisos</h4>
    <hr />
    <dl class="row">
            <dt class="col-sm-2">
                Rol
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdRolNavigation.NombreRol)
            </dd>
        <dt class="col-sm-2">
                Permisos
            </dt>
            <dd class="col-sm-10 tlb">
                <ul class="custom-list">
                    @foreach (var permiso in Model.IdRolNavigation.RolPermisos)
                    {
                        <li>@permiso.IdPermisoNavigation.NombrePermiso</li>
                    }
                </ul>
            </dd>
    </dl>
</div>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-sm btn-secondary">Regresar</a>
    </div>
</div>