@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var producto = ViewBag.Producto;
    var tallas = ViewBag.Tallas;
    var colores = ViewBag.Colores;
}

<div class="tbl">
    <h4 class="mb-4">Detalle Producto</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Nombre Producto</dt>
                <dd class="col-sm-8">@producto.NombreProducto</dd>

                <dt class="col-sm-4">Tallas</dt>
                <dd class="col-sm-8">@string.Join(", ", tallas)</dd>

                <dt class="col-sm-4">Colores</dt>
                <dd class="col-sm-8">@string.Join(", ", colores)</dd>
            </dl>
            <div class="mt-4">
                <a asp-action="Index" class="btn btn-sm btn-secondary">Regresar</a>
            </div>
        </div>
    </div>
</div>
