@model fugaz_retro.Models.PerdidaInsumo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tbl">
<h1>Editar Perdida de insumo</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPerdidaInsumo"/>
            <div class="form-group">
                <label asp-for="IdInsumo" class="control-label">Nombre Insumo</label>
                <select asp-for="IdInsumo" class="form-control" asp-items="ViewBag.IdInsumo"></select>
                <span asp-validation-for="IdInsumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label">Cantidad</label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label">Fecha</label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <br />
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn  btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                </div>
        </form>
    </div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
